// import starting from the src/ folder

.dashboard {
    .app-content {
        margin: 0.8rem;
        margin-top:0rem;
        max-height: calc(100vh - 2.6rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
        // overflow-y: auto;
    }
}
