// import starting from the src/ folder

.dashboard {
    .app-content {
        margin: 0.8rem;
        margin-top: 0rem;
        min-height: calc(100vh - 7rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        box-sizing: border-box;
        // overflow-y: auto;
    }
}

.loader-carrier{
    display:flex;
    flex-direction: column;
    min-height: calc(100vh - 7rem);
    margin: auto;
    justify-content: center;
    align-items: center;

    .covid-kollam-loader-text{
        margin-top:2rem;
    }
}
