body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  padding-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  font-family: "Roboto", sans-serif;
  /* color theme */
  /* status colors */
  --status-red: #e74c3c;
  --status-green: #2ecc71;
  --status-yellow: #f39c12;
  --status-grey: #c4c4c4;
  --light-ash: #dfe4ea;
  /* font colors  */
  --yellow-font-color: #f1c40f;
  --white-font-color: #fafafa;
  --headline-font-color: #57606f;
  --primary-font-color: #4b6584;
  --deep-black-font-color: #000000;
  /* theme specific */
  --theme-color-primary: #0984e3;
  /* border colors */
  --color-border-grey: #bdc3c7;
  /* general-colors */
  --deep-blue: #2c3e50;
  /* inactive-button-color */
  --inactive-button-color: #8d989c;
  /* button shadows */
  --button-shadow-level-1: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);
  --button-shadow-level-2: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  --button-shadow-level-4: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  /* border-radius */
  --border-rad-small: 0.3rem;

  /* margins */
  --default-margin: 0.75rem;

  /* heights */
  --nav-bar-height: 3.25rem;
}

/* font styles */
.title-text-bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.32rem;
  color: var(--headline-font-color);
}
.title-text-regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
}

.title-text-thin {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1rem;
}

.text-title-micro {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.69rem;
}

.status-card-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.688rem;
  line-height: 0.813rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.status-card-count-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.1625rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 0.75rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-bar-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.white-font-color {
  color: var(--white-font-color);
}

.opacity-level-1 {
  opacity: 0.75;
}
